body {
  background-color: #FFFFFF;
  font-family: 'Fira Sans Extra Condensed', sans-serif;

}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 10px;

}
ul.header {
  background-color: #ff851b;
  padding: 3px;
}

ul.logo {
  background-color: white;
}

ul.header li a {
  display: inline-block;
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;

  
}

ul{
    list-style-type: circle;
}

ul.none {
    list-style-type: none;


}

strong{
  /* text-decoration: underline; */
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.Tit1 {
  font-weight: 100;
  text-decoration:underline;
}

.Tit2 {
  font-weight: 200;
  color: #89939E;
}

.h7{
  font-weight: 100;
  font-style: underline;
}
.h8{
  font-weight: 100;
  font-style: italic;
}

.h9{

  font-weight: 500;
  font-size:50px;
  font-style: underline;
}

.h10{

  font-weight: 500;
  font-size:25px;
  font-style: underline;
  
}


.content {
  background-color: #FFFFFF;
  padding: 5px;
}

.active {
  background-color: #000AB0;
}

a {
  text-decoration: none;
  color: white;
  font-weight:100;

  margin: 0px;
  padding: 10px;
}

span{

  text-decoration: underline;
}

.containerA {  
  
  display: grid;
  margin: 30px 0 50px 0;
  background-color: #ff851b; 
  grid-template-rows: 45px;
  max-width: 100%;
  grid-template-columns: repeat (6, auto);
  grid-template-areas: 
    "A B C D E F";
  }

.A { grid-area: A; max-height: 180px; align-self: center; }

.B { grid-area: B; justify-self: end; align-self: center;}

.C { grid-area: C; justify-self: end; align-self: center}

.D { grid-area: D; justify-self: end; align-self: center} 

.E { grid-area: E;justify-self: end; align-self: center } 

.F { grid-area: F; justify-self: end; align-self: center}

